@model SharpQuiz.Domain.Entity.Chapter

<h2>Создать раздел</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label>Курс:</label>
        @Html.DropDownList("BookId", @ViewBag.Books, "Выберите курс", new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Номер:</label>
        <input type="text" class="form-control" asp-for="Number">
    </div>
    <div class="form-group">
        <label for="Name">Название:</label>
        <input type="text" class="form-control" id="Name" name="Name" required>
    </div>
    <button type="submit" class="btn btn-primary">Создать раздел</button>
</form>



